.fr-item-cont {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.friend-title {
  display: flex;
  font-size: 22px;
}
.online {
  color: green;
  font-size: 15px;
}
.offline {
  color: red;
  font-size: 15px;
}
